@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0">
                <div class="card-header text-white text-center" style="background-color:#37517e" >
                    <h3 class="my-2">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <section>
                        <form id="account" method="post">
                            <h5 class="text-secondary">Use a local account to log in.</h5>
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Username" class="form-control" autocomplete="username" placeholder="Username" aria-required="true" />
                                <label asp-for="Input.Username">Username</label>
                                <span asp-validation-for="Input.Username" class="text-danger"></span>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" placeholder="Password" aria-required="true" />
                                <label asp-for="Input.Password">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="form-check mb-3">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                <label asp-for="Input.RememberMe" class="form-check-label">
                                    Remember Me
                                </label>
                            </div>

                            <button id="login-submit" type="submit" class="btn text-white w-100 mb-3" style="background-color:#37517e">
                                Log In
                            </button>

                            <div class="text-center">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword" class="text-link">Forgot your password?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" class="text-link">Register as a new user</a>
                                </p>
                                <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-link">Resend email confirmation</a>
                                </p>
                            </div>

                            <style>
                                .text-link {
                                    color: steelblue;
                                    font-size: 1.1rem;
                                    text-decoration: none;
                                    transition: all 0.3s ease-in-out;
                                    font-weight: 500;
                                }

                                    .text-link:hover {
                                        color: blueviolet;
                                        text-decoration: underline;
                                        transform: scale(1.05);
                                    }
                            </style>

                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
